/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2015, 10:53:20 AM
    Author     : Sam
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2015, 3:31:33 PM
    Author     : Sam
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2015, 3:29:08 PM
    Author     : Sam
*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
  background: url(../images/cream_dust.png) repeat 0 0; }

main {
  flex: 1 0 auto; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fafafa inset; }

input:focus -webkit-autofil {
  -webkit-box-shadow: 0 0 0px 1000px #fafafa inset; }

.header-image {
  background: url(../images/main-optimized.jpg) no-repeat 45% 25%;
  min-height: 500px; }

.text-capitalize {
  text-transform: uppercase; }

.nav-wrapper li > a {
  text-transform: uppercase;
  font-weight: bold; }

.header-section {
  min-height: 450px; }

.table-of-contents a.active {
  border-left: 2px solid #ba68c8; }

.row.divide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 70px; }

footer li > a, .footer-copyright {
  font-size: 75%; }

.top {
  border-top: none; }

.dropzone-form {
  margin-top: 15px;
  min-height: 150px;
  border: 2px dashed #ba68c8;
  background: white;
  padding: 20px 20px; }

.bottom-div {
  margin-bottom: -20px; }

.error {
  color: red; }

address, dfn {
  font-style: normal; }

.dropdown-content {
  min-width: 200px; }
  .dropdown-content li > a, .dropdown-content li > span {
    font-size: 1rem; }
  .dropdown-content li > a > i {
    height: inherit;
    line-height: inherit; }

a.dropdown-button i {
  display: inline;
  font-size: 1.2rem;
  padding-left: 10px; }
